@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: #fdfdfd;
	overflow-y: scroll;
}

.stars {
	font-size: 36px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

h2 {
	font-size: 24px;
}

.star {
	color: #edb210;
	text-shadow: 0 1px 3px rgba(0,0,0,0.25);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.star-empty {
	color: #eee;
	text-shadow: 0 -1px 0px rgba(0,0,0,0.15);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.header {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: 15px 0;
	font-size: 20px;
	background: #f9f9f9;
	margin-bottom: 20px;
	/*font-weight: 300;*/
	text-align: center;
}

.header .logo {
	position: relative;
	font-weight: 300;
}

.header .icon {
	color: white;
	text-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-right: 10px;
	margin-left: 20px;
	position: absolute;
	left: -52px;
	top: 3px;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 24px;
	padding: 20px;
	max-width: 500px;
	margin: auto;
}

.rating {
	/*flex: 1 1 auto;*/
	margin-bottom: 40px;
	padding: 20px;
	/*border: 1px solid #eee;*/
	text-align: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 40px;
}

input {
	padding: 10px;
	font-size: 24px;
	font-family: inherit;
	margin-bottom: 10px;
	border-radius: 3px;
	border: 1px solid #ddd;
	text-align: center;
	font-weight: bold;
}

button {
	border: none;
	border-radius: 5px;
	background: #c34848;
	font-weight: 300;
	color: white;
	padding: 10px 30px;
	font-size: 24px;
	font-family: inherit;
	border-bottom: 5px solid #9e3636;
	align-self: flex-start;
	margin: auto;
	box-sizing: border-box;
}

button:active {
	border-bottom: none;
	margin-top: 5px;
}

.star-input {
	cursor: pointer;
	font-size: 36px;
	text-align: center;
	margin-bottom: 20px;

	user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

.star-input .star:hover {
	opacity: 0.7;
}

.star-input .star-empty:hover {
	opacity: 0.7;
	/*color: #edb210;
	text-shadow: 0 1px 3px rgba(0,0,0,0.25);*/
}

.loader {
	/*background: red;*/
	text-align: center;
}

.loader .star {
	animation: rotating 3s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}